<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <ul>
      <li><a href="/">Mclean Family</a></li>
      <li><a href="/dad">Alan McLean</a></li>
      <li><a href="/mom">Susan Mclean</a></li>
      <li><a href="/mary">Mary McLean</a></li>
      <li><a href="/niki">Niki McLean</a></li>
    </ul>
  </nav>
