<% include ./partials/header.ejs %>
    <h1>Alan McLean</h1>
      <p>This is my dad, he was born in Scotland and his family decided to move to Canada when he was 12.</p>
<% include ./partials/footer.ejs %>
