<% include ./partials/header.ejs %>
    <h1>Susan McLean</h1>
      <p>This is my mom, she was born and raised in Georgetown ON. Im her favourite out of her children.</p>
<% include ./partials/footer.ejs %>
