<% include ./partials/header.ejs %>
    <h1>Niki McLean</h1>
      <p>Niki is the middle child of the family. She went to George Brown for Early Childhood Education.</p>
<% include ./partials/footer.ejs %>
